@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: hsla(160, 85%, 32%, 1);
  }
}

#app main {
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  #app main {
    padding: 2rem;
  }
}

